/* ActivationCode.css */

.page {
  border-radius: 10px;
  box-shadow: 1px 1px 5px #000;
  position: relative;
  padding: 30px 100px;
  width: 500px;
  background-color: white;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
  color: gray;
  font-size: 24px;
}

p {
  margin-bottom: 20px;
  text-align: center;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: dodgerblue;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #0056b3;
}

.bottom {
  margin-top: 20px;
  text-align: center;
}

.bottom a {
  text-decoration: none;
  color: dodgerblue;
}

.bottom a:hover {
  text-decoration: underline;
}
